{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        * {box-sizing: border-box}

        button,
        input{
            background-color: #eae5e5;
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none; /* remove underline from anchors */
        }

        input:hover,
        button:hover,
        .btn:hover {
            opacity: 1;
        }

        input[type=submit] {
            background-color: #46853e;
            color: white;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #376e32;
        }

        button {
            background-color: #46853e;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #376e32;
        }
    </style>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <style>
            a {
                outline: none;
                text-decoration: none;
                padding: 2px 1px 0;
            }

            a:link {
                color: #265301;
            }

            a:visited {
                color: #437A16;
            }

            a:focus {
                border-bottom: 1px solid;
                background: #BAE498;
            }

            a:hover {
                border-bottom: 1px solid;
                background: #CDFEAA;
            }

            a:active {
                background: #265301;
                color: #CDFEAA;
            }
        </style>
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
        </form>
    {% endif %}
{% endblock %}
