<link href="{{ asset('css/product.css') }}" rel="stylesheet"/>
<body>
{{ include('header.html.twig') }}
<title>Category</title>
<table style="margin-top: 20px; margin-bottom: 20px">
    <tr>
        <th>Title</th>
        <th>Parent title</th>
        <th><a style="font-size: 24px; color: black" href={{ '/category'}}> + </a></th>
    </tr>
    {% for element in elements %}
        <form action={{ "/delete-category/"~element.id }} method="post">
            <tr>
                <td><a class="category" style="color: white" href={{ '/admin/user/' ~ element.id }}> {{ element.title }} </a></td>
                <td>{{ element.parent.title }}</td>
                <td style="width: 16px">
                    <button class="close" style="
    height: 18px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;"></button>
                </td>
            </tr>
        </form>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(elements) }}
</div>
{{ include('footer.html.twig') }}
</body>