<link href="{{ asset('css/product.css') }}" rel="stylesheet" />
<body>
{{ include('header.html.twig') }}
<title>Category</title>
<table style="margin-top: 20px; margin-bottom: 20px">
    <tr>
        <th>Email</th>
        <th>Roles</th>
        <th>First name</th>
        <th>Last name</th>
        {% if app.user %}
            <th><a style="font-size: 24px; color: black" href={{ '/admin/user'}}> + </a></th>{% endif %}
    </tr>
    {% for element in elements %}
        <form action={{ "/admin/delete-user/"~element.id }} method="post">
            <tr>
                <td><a class="category" style="color: white" href={{'/admin/user/' ~ element.id }}> {{ element.email }} </a></td>
                <td>
                    {% for role in element.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </td>
                <td>{{ element.firstName }}</td>
                <td>{{ element.lastName }}</td>
                {% if app.user %}
                <td style="width: 16px">
                    <button class="close" style="
    height: 18px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;"></button>
                </td>
            </tr>
            {% endif %}
        </form>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(elements) }}
</div>
{{ include('footer.html.twig') }}
</body>