<link href="{{ asset('css/product.css') }}" rel="stylesheet"/>
<body>
{{ include('header.html.twig') }}
<title>Admin page</title>
    <a style="color: black" href={{ '/admin/users'}}> All users</a><br/>
    <a style="color: black" href={{ '/admin/categories/'}}> All categories </a><br/>
    <a style="color: black" href={{ '/catalog/1'}}> All products </a><br/>

{{ include('footer.html.twig') }}
</body>