{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" />

    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
            label: 'Your email '
        })  }}
        {{ form_row(registrationForm.firstName, {
            label: 'First name '
        })  }}
        {{ form_row(registrationForm.lastName, {
            label: 'Last name  '
        })  }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password '
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}


