{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        * {box-sizing: border-box}

        button,
        input{
            background-color: #eae5e5;
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none; /* remove underline from anchors */
        }

        input:hover,
        button:hover,
        .btn:hover {
            opacity: 1;
        }

        input[type=submit] {
            background-color: #46853e;
            color: white;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #376e32;
        }

        button {
            background-color: #46853e;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #376e32;
        }
    </style>
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
            label: 'Your email '
        })  }}
        {{ form_row(registrationForm.firstName, {
            label: 'First name '
        })  }}
        {{ form_row(registrationForm.lastName, {
            label: 'Last name  '
        })  }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password '
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}


