{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    {{ include('header.html.twig')}}
    <title>Main page</title>
    {% macro list(categories, idParent) %}
        {% import _self as tree %}
        <ul class="ui list">
            {% for category in categories %}
                {% if category.parent.id==idParent %}
                    <div style='margin-left:{{ category.level * 25 }} px;'>
                        <a class="category" href={{'/catalog/' ~ category.id }}> {{ category.title }} </a></div>
                    {{ tree.list(categories, category.id) }}
                {% endif %}
            {% endfor %}
        </ul>
    {% endmacro %}

    {% import _self as tree %}
    {{ tree.list(categories, idParent) }}
    {{ include('footer.html.twig')}}
{% endblock %}
