{% extends 'base.html.twig' %}

{% block body %}
    <style>
        div {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        a.category {
            color: white;
            background-color: #376e32;
            box-shadow: 0 5px 0 #225720;
            padding: 5px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
        }

        a.category:hover {
            background-color: #225720;
            cursor: pointer;
        }

        a.category:active {
            box-shadow: none;
            top: 5px;
        }
    </style>

    {{ include('header.html.twig')}}
    <title>Main page</title>
    {% macro list(categories, idParent) %}
        {% import _self as tree %}
        <ul class="ui list">
            {% for category in categories %}
                {% if category.parent.id==idParent %}
                    <div style='margin-left:{{ category.level * 25 }} px;'>
                        <a class="category" href={{'/catalog/' ~ category.id }}> {{ category.title }} </a></div>
                    {{ tree.list(categories, category.id) }}
                {% endif %}
            {% endfor %}
        </ul>
    {% endmacro %}

    {% import _self as tree %}
    {{ tree.list(categories, idParent) }}
    {{ include('footer.html.twig')}}
{% endblock %}
