<link href="{{ asset('css/product.css') }}" rel="stylesheet" />
<body>
{{ include('header.html.twig') }}
<title>Category</title>
<table style="margin-top: 20px; margin-bottom: 20px">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Category</th>
        {% if app.user %}
            <th></th>{% endif %}
    </tr>
    {% for element in elements %}
        <form action={{ "/delete-product/"~element.id }} method="post">
            <tr>
                <td>{{ element.name }}</td>
                <td>{{ element.currPrice }}</td>
                <td>{{ element.statusCount }}</td>
                <td>{{ element.category.title }}</td>
                {% if app.user %}
                <td style="width: 16px">
                    <button class="close" style="
    height: 18px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;"></button>
                </td>
            </tr>
            {% endif %}
        </form>
    {% endfor %}
</table>
{% if page>1 %}
    <a href={{ url ~ '?page='~ (page-1) }}><span style="color: black">Back</span></a>
{% endif %}
<a href={{ url ~ '?page='~ (page+1) }}><span style="color: black">Next</span></a>
{{ include('footer.html.twig') }}
</body>