{% block body %}
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/header.css') }}" rel="stylesheet" />
    {% if app.user %}
        <nav class="navbar">
            <div class="header-top">
                <div class="logo"><img src="https://clipart-best.com/img/letter-g/letter-g-clip-art-3.png"/>
                    <a href=/index><span style="color: black">Graf Griffon</span></a></div>
                <div class="header-info">
                    <form action="/logout" method="get">
                        <span class="phone" style="color: black;">{{ app.user.username }} {{ app.user.firstname }} {{ app.user.lastname }}</span>
                        <button type="submit">Logout</button>
                    </form>

                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar">
            <div class="header-top">
                <div class="logo"><img src="https://clipart-best.com/img/letter-g/letter-g-clip-art-3.png"/>
                    <a href=/index><span style="color: black">Graf Griffon</span></a></div>

                <div class="header-info">
                    <form action="/login" method="get">
                        <span class="phone" style="color: black;">Unregistered user</span>
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </nav>
    {% endif %}

{% endblock %}
